<nav class="topnav navbar navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-list"></span> What I Do / What I've Done <span class="caret"></span></a>
          <ul class="mainmenu dropdown-menu" role="menu">
            <li><a href="https://www.seekingmusicapp.com" target="_blank">Seeking</a></li>
            <li><a href="http://2112inc.com" target="_blank">2112</a></li>
            <li><a href="http://oscarbait.bandcamp.com" target="_blank">Oscar Bait</a></li>
            <li><a href="http://darkbeer.bandcamp.com" target="_blank">Darkbeer</a></li>
            <li><a href="#">Coming Soon: Civic Challenge 2018</a></li>
            <li><a href="#">Coming Soon: BAMFBuilder Training</a></li>
            <li><a href="http://geoffreyhowes.com" target="_blank">GeoffreyHowes.com</a></li>
            <li><a href="https://bjmendy.com" target="_blank">BJMendy.com</a></li>
            <li><a href="http://www.blue1647.com" target="_blank">BLUE1647</a></li>
            <li><a href="http://www.metroplanning.org" target="_blank">Metropolitan Planning Council</a></li>
            <li><a href="http://www.cnt.org" target="_blank">Center for Neighborhood Technology</a></li>
            <li><a href="http://harris.uchicago.edu" target="_blank">Harris School of Public Policy: University of Chicago</a></li>
          </ul>
      </li>
    </ul>
  </div>
</nav>
