html {
  -webkit-font-smoothing: antialiased; 
  box-sizing: border-box; }

.topnav {
  background-color: #8ce0c9; }
  .topnav a {
    font-family: 'Work Sans', sans-serif;
    color: #666666; }
  .topnav .mainmenu {
    background-color: #8ce0c9; }
  .topnav .mainmenu li a {
    color: #666666; }

.jumbotron {
  background-color: #666666;
  color: white;
  padding-bottom: 57px; }
  .jumbotron .logoholder {
    background-color: #666666; }
  .jumbotron h1 {
    font-family: 'Space Mono', monospace; }
  .jumbotron p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    color: #8ce0c9;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .logobig {
    display: block;
    overflow: hidden;
    width: 275px;
    height: 275px;
    margin: auto; }
    .jumbotron .logobig img {
      max-width: 100%; }

.hero-2 {
  padding-bottom: 45px; }
  .hero-2 h1 {
  font-family: 'Space Mono', monospace; }
  .hero-2 a {
    font-family: 'Space Mono', monospace;
    color: #666666; 
/*    border: 2px solid #c3c3c3; 
*/    padding: 3px; 
    font-size: 1.55em;
    margin-top: 2em;
    margin-bottom: 2em;}
    .hero-2 a:hover { 
/*      border: 2px solid black;
*/      text-decoration: none;
      cursor: pointer; 
      color: #c3c3c3;}
  .hero-2 .featurephoto { 
    border: 2px solid #666666; 
    margin-bottom: 1em; 
    height: 355px;
    overflow: auto; }
  .hero-2 .featurephoto:hover {
    border: 2px solid #8ce0c9; }
  .hero-2 .featurephoto img {
    max-width: 100%;
    margin: 0; 
    border-top: 2px solid #666666; }
  .hero-2 .featurephoto img:hover {
    border-top: 2px solid #8ce0c9; }
  .hero-2 .explainer {
    font-family: 'Work Sans', sans-serif;
    font-size: 11px;
    padding: 7px 7px 0px 7px;
    color: #666666;
    opacity: .85; }

.footer {
  width: 100%;
  background-color: #c3c3c3;
  height: 85px;
  padding-top: 30px; }
  .footer a {
    font-size: 11px;
    font-family: 'work Sans', sans-serif;
    padding: 8px;
    color: #666666;
    text-decoration: none;
    text-transform: uppercase; }
    .footer a:hover {
      color: black; }
