<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container-fluid">
    <div class="logoholder container-fluid">
      <a href="/" class="animated fadeInDown logobig">
        <img src="/jchlogobig.png">
      </a>
    </div>
    <h1 class="animated fadeInLeft">James Coleman Howes</h1>
    <p class="animated fadeInRight">Born in 1989. Ohio transplant to Chicago, like many.
    <br>Web developer, musician, and aspiring strength trainer.
    <br>University of Chicago alum and retired politico.
    </p>
  </div>
</div>
<div class="hero-2 container">
  <div class="row animated fadeInLeft">
    <div class="col-md-4 align-self-center">
      <h3 id="techhead">Seeking</h3>
      <div class="featurephoto" id="techphoto">
        <p class="explainer" id="techexplainer">
          An up-and-coming matching service for independent musicians. Currently in the first round of public beta and market research. Headquartered in Chicago's 2112 music tech incubator.
        </p>
        <img src="/seekingfront.jpg">
      </div>
    </div>
    <div class="col-md-4 align-self-center">
      <h3 id="bandhead">Oscar Bait</h3>
      <div class="featurephoto" id="bandphoto">
        <p class="explainer" id="bandexplainer">
          A post-hardcore band founded inside Chicago's Kildare Studios in December 2015. Debut album "Become Good" released December 7, 2016 and available for cheap/free anywhere you like to get music digitally.
        </p>
        <img src="/jch2.jpg">
      </div>
    </div>
    <div class="col-md-4 align-self-center">
      <h3 id="meathead">BAMFBuilder</h3>
      <div class="featurephoto" id="meatphoto">
        <p class="explainer" id="meatexplainer">
          Coming soon: An online training service for those wishing to become alarmingly stronger and better-looking in a way that is simple and sensible. A trial balloon for future training programs while I study for my CSCS certification.
        </p>
        <img src="/dougyoung.jpg">
      </div>
    </div>
  </div> <!-- row -->
    <div class="row animated fadeInRight">
    <div class="col-md-4 align-self-center">
      <h3 id="techhead">BJMendy.com</h3>
      <div class="featurephoto" id="techphoto">
        <p class="explainer" id="techexplainer">
          Portfolio website and online CV for writer, publicist, and production professional Bridjet J. Mendyuk.
        </p>
        <img src="/bjmendy.jpg">
      </div>
    </div>
    <div class="col-md-4 align-self-center">
      <h3 id="bandhead">Darkbeer</h3>
      <div class="featurephoto" id="bandphoto">
        <p class="explainer" id="bandexplainer">
          An alternative rock/college rock revival band founded in May of 2015. Debut album "Gap Year" available now on Bandcamp, Spotify, iTunes, and so on.
        </p>
        <img src="/darkbeer.jpg">
      </div>
    </div>
    <div class="col-md-4 align-self-center">
      <h3 id="wonkhead">UChicago</h3>
      <div class="featurephoto" id="wonkphoto">
        <p class="explainer" id="wonkexplainer">
          The whole reason I'm here doing any of this. This place changed my entire outlook on life and the world and galvanized my passion for sustainable economic development in the Rust Belt.
        </p>
        <img src="/uchicago.jpg">
      </div>
    </div>
  </div> <!-- row -->
</div>
<div class="footer text-center">
  <a class="footerlink" href="http://github.com/dashowes" target="_blank">GitHub</a>
  <a class="footerlink" href="https://www.linkedin.com/in/jim-howes-3031971b?trk=nav_responsive_tab_profile" target="_blank">LinkedIn</a>
  <a class="footerlink" href="mailto:das.howes@gmail.com" target="_blank">Email</a>
</div>


</body>
</html>
